@use './variable' as *;
@use './common';

#site-main {
    margin-top: 140px;


    .product {
        position: relative;
        margin-bottom: 60px;
    }

    .card {

        border-radius: 1rem;
        box-shadow: 0 0 10px;
        position: relative;
        min-height: 90%;



        .heart {
            position: absolute;
            right: 0;
            top: 15px;
            font-size: 30px;
            padding: 0.1rem 0.75rem;
            background-color: $boolando-lighter;
            cursor: pointer;

            &:hover {
                color: $boolando-sales;
                transition: 0.2s;
            }
        }

        .heart-red {
            color: red;
        }

        .badges {
            position: absolute;
            left: 0;
            top: 60%;
            color: var(--boolando-lighter);
            font-size: 16px;

            .sales {
                background-color: $boolando-sales;
            }

            .sostenibility {

                background-color: $boolando-sostenibility;
            }

            .inline-block-container {
                display: inline-block;
                margin-right: 3px;
                padding: 0.1rem 0.4rem;
                border-radius: 0.1rem;
            }
        }

        .card-body {
            .card-subtitle {
                color: gray;
            }

            .card-title {
                font-size: 20px;
                font-weight: 700;
            }

            .price-at-the-moment {
                color: $boolando-sales;
                font-weight: 700;
                display: inline-block;
            }

            .full-price {
                margin-left: 8px;
                display: inline-block;
            }
        }
    }
}


    .modal_card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal_container {
            background-color: white;
            max-width: 1000px;
            width: 80%;
            display: flex;

            .left {
                width: 50%;

            }

            .right {
                width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 5px;

                button {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 0 8px;
                    border: 2px solid $boolando-lighter;
                    font-size: 25px;
                    background-color: $boolando-lighter;

                    &:hover {
                        border: 2px solid $boolando-primary;
                        border-radius: 0.25rem;
                        transition: 0.25s;
                        color: $boolando-primary;
                    }
                }

                h6 {
                    font-size: 20px;
                }
            }
        }
    }

    .visibility-modular {
        visibility: visible;
        z-index: 8;
    }




.disp {
    display: none !important;
}